
.tittle {
    text-align: center;
    margin-top: 10px;
}

body {
    background-color: #abc2e3;
    background-image: url(http://i.imgur.com/hxo5Dk6.jpg);
    background-repeat: no-repeat;
    background-position:top;
    color:aliceblue;
}

.predict-button {
    margin: 0 auto;
    margin-top: 7px;;
    width: 100px;
}

.summoner-input {
    margin: 0 auto;
    min-width: 175px;
    max-width: 250px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.form-predict-heading {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
}

.selectpicker {
    min-width: 175px;
    max-width: 250px;
}

.select-div {
    display:inline-block;
    margin: 0 auto;
    margin-top: 5px;  
}

.info-box {
    background-color: rgba(240, 255, 255,0.9);
    color: black;
    border-radius: 30px;
    margin-top: 25%;
    padding-top: 1.5%;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

    background-color: rgba(57, 62, 62, 0.9);
}
.winner-text {
 margin-bottom: 5px;   
}
.col-team1 {
    text-align: left;
    background-color: rgba(101, 130, 226, 0.9);
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.col-team2 {
    text-align: right;
    background-color: rgba(168, 95, 222, 0.9);
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.row-champ {
    border-top-style: solid;
    border-top-width: 1px;
    border-color:black;
}

.col-icon {
    min-width: 67px;
    display: inline-block;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
}
.col-icon-right {
    min-width: 67px;
    display: inline-block;
    float: right;
    margin-bottom: 2%;
    margin-top: 2%;
}

.summoner {
    display: inline-block;
}

.champ {
}
